* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  max-width: 1170px;
  height: 65px;
  width: 100%;
  background-color:  rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 9;
}

/* .logo {
  height: 45px;
  width: 124px;
  margin: 12px 0 0 10px;
} */

.header-left {
  float: left;
}

.header-left h1 {
  font-size: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #eee;
  opacity: 0.9;
}

.header-right {
  float: right;
  /* margin-right: -25px; */
}

.header-right a:hover {
  background-color: rgba(155, 155, 155, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #eee;
  display: block;
  transition: all 0.5s;
  float: left;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opactiy .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}



.fa.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 10px;
  display: none;
  cursor: pointer;
}

.top-wrapper {
  height: 900px;
  padding: 80px 20px 400px 20px;
  background-image: url("../img/IMG_4570\ 2.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 200px;
}

.top-wrapper h2 {
  opacity: 0.9;
  font-size: 20px;
  letter-spacing: 1px;
  margin:10px 0;
}

.top-wrapper p {
  opacity: 0.9;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.lesson {
  background-color: rgb(240, 114, 11);
}

.youtube {
  background-color: red;
  margin-right: 10px;
}

.twitter {
  background-color:skyblue;
}

.btn-wrapper {
  max-width: 20px 0;
  margin-bottom: 100px;
}

.btn-wrapper p {
  max-width: 10px 0;
}

.fa {
  margin-right: 5px;
}

.piano-wrapper {
  /* height: 550px; */
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding: 60px 0 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.piano {
  float: left;
  width: 25%;
}
.piano-icon {
  position: relative;
}

.piano-icon img {
  width: 250px;
  height: 300px;
}

.piano-icon p {
  position: absolute;
  top: -45px;
  width: 100%;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #b3aeb5;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  background-color: #323732;
  padding: 15px 40px;
  cursor: pointer;
  box-shadow: 0 7px #000000;
  user-select: none;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.heading h3 {
  font-weight: normal;
}

footer img {
  height: 25px;
  width: 115px;
  margin: 12px 0 0 0;
  user-select: none;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  margin: 0;
}

footer {
}

.contact {
  margin-top: 100px;
}